.likesectionHead {
    color: white;
    text-decoration: underline;
    background-color: purple;
    border-radius: 8px;
    border-width: 3px;
    text-align: center;
    text-shadow: 5px;
    padding: 12px;
}

@media (max-width: 1000px) {
    .noindent {
        font-size: 14px;
    }

    .likesectionHead {
        font-size: 18px;
    }

    .itemize1 {
        font-size: 14px;
    }
}