#body {
    background-image: url('bg.jpg');
    background-color: grey;
    background-repeat: no-repeat;  
    background-size: 100% 300px;
}

@media (max-width: 1000px) {

    #body {
        background-size: 100% 100px;
    }

}


#head {
    color: rgb(252, 108, 61);
    text-align: center;
    margin-top: 50px;
    font-family: "cursive";
    font-style: italic;
    font-size: 5em;
    font-weight: 900;
    color: white;
}

@media  (max-width: 1000px) {
    #head {
        margin-top: 15px;
        font-size: 1.4em;
    }
}

.space {
    margin-top: 200px;
}
@media  (max-width: 1000px) {
    .space {
        margin-top: 70px;
    }
}


#vertical_bar {
    margin-left: 85%;
    margin-top: 120px;
    position: fixed;
}
@media  (max-width: 1000px) {
    #vertical_bar {
        margin-left: 76%;
        font-size: 1.4em;
    }
}



.button_of_current_page {
    background-color: gray;
    border-color: darkslategrey;
    font-weight: 800;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    display: block;
    cursor: not-allowed;
}

.button_home {
    background-color: darkorchid;
    border-color: darkviolet;
    height: 50px;
    width: 150px;
    color: white;
    border-radius: 20px;
    transition-duration: 0.4s;
    display: block;
    cursor: pointer;
}

.button_home:hover {
    background-color: rgb(255, 255, 255);
    color: darkorchid;
}

.button_home:active {
    text-decoration: underline;
    
}
.button_project {
    background-color: green;
    border-color: darkgreen;
    height: 50px;
    width: 150px;
    color: white;
    border-radius: 20px;
    transition-duration: 0.4s;
    display: block;
    cursor: pointer;
}

.button_project:hover {
    background-color: rgb(255, 255, 255);
    color: green;
}

.button_project:active {
    text-decoration: underline;
    
}
.button_github {
    background-color: red;
    border-color: darkred;
    height: 50px;
    width: 150px;
    color: white;
    border-radius: 20px;
    transition-duration: 0.4s;
    display: block;
    cursor: pointer;
}

.button_github:hover {
    background-color: rgb(255, 255, 255);
    color: red;
}

.button_github:active {
    text-decoration: underline;
    
}


.button_contact {
    background-color: yellow;
    border-color: darkorange;
    height: 50px;
    width: 150px;
    color: black;
    border-radius: 20px;
    transition-duration: 0.4s;
    display: block;
    cursor: pointer;
}

.button_contact:hover {
    background-color: rgb(255, 255, 255);
    border-color: darkorange;
    color: black;
}

.button_contact:active {
    text-decoration: underline;

}

@media  (max-width: 1000px) {
    .button_contact {
        height: 35px;
        width: 70px;
        font-size: 8px;
    }

    .button_home {
        height: 35px;
        width: 70px;
        font-size: 8px;
        opacity: 60%;
    }

    .button_github {
        height: 35px;
        width: 70px;
        font-size: 8px;
        opacity: 60%;
    }

    .button_project {
        height: 35px;
        width: 70px;
        font-size: 8px;
        opacity: 60%;
    }

    .button_of_current_page {
        height: 35px;
        width: 70px;
        font-size: 8px;
        opacity: 60%;
    }
}


.title {
    font-family: "cursive";
    font-style: italic;
    color:whitesmoke;
    font-size: 37px;
    text-decoration: underline;
}

.info {
    font-family: "Bradley Hand";
    color: rgba(2, 2, 71, 0.945);
    font-size: 18px;
}

.line {
    border-top: 5px solid sandybrown;
    width: 75%;
}

@media  (max-width: 1000px) {
    .title {
        font-size: 25px;
    }
    .info {
        font-size: 14px;
    }
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
      opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}


#map {
    width: 450px;
    height: 300px;
    display: block;
    margin: auto; 
}

@media  (max-width: 1000px) {
    #map {
        height: 200px;
        width: 300px;
    }
}